.container {
  /* Container styles */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
hr{
  color: white;
  margin-bottom: 15px;
  margin-top: 5px;
}
span{
  font-size: 30px;
}

p{
  margin-bottom: 30px;
}
.btn{
  text-decoration: none;
  color: white;
  border: 0.5px solid white;
  border-radius: 5px;
  padding: 13px;
  margin-top: 50px;
  opacity: 0.6;
  transition: ease-in-out 0.3s;
  

}

.btn:hover{
  background-color: cadetblue;
  opacity: 1;


}