.social-arrow {
  transition: transform 0.25s ease-in-out; /* Add a transition for smooth animation */
}

.social-arrow:hover {
  transform: translateY(-5px); /* Move the SVG element 5 pixels upward on hover */
}

.social-container{
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: smaller;


}
.social-container a {
  color: white;
  text-decoration: none;
  position: relative; /* Required for positioning the pseudo-element */
  opacity: 0.6;
  transition: opacity 0.2s ease-in;
}

.social-container a::after {
  content: '';
  position: absolute;
  bottom: -2px; 
  left: 0;
  width: 100%;
  height: 2px;
  background-color: transparent; 
  transition: background-color 0.3s ease-in-out; /* Smooth transition */
}

.social-container a:hover {
  opacity: 1;
}

.social-container a:hover::after {
  background-color: white; /* White underline on hover */
}


.social-links{
  margin-top: 100px;
  font-size: larger;
  
}


.social-links {
  padding: 20px; 
}

.social-container {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}

.social-container a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}



/* Adjust for lower resolutions */
@media screen and (max-width: 389px) {
  .social-container {
      flex-direction: column;
  }

  .social-container a {
      margin-bottom: 0.5rem;
  }

  .social-arrow {
      margin-right: 0;
  }

  span {
      display: none;
  }
}
