--- 
import Post from '../components/Post.astro';
import Navigation from '../components/Navigation.astro';
import Layout from '../layouts/Layout.astro';

---
<Layout>
  <Navigation />
  <div class="body-container">
      <div class="blog-about">
        <h1 class=" animate__animated animate__fadeInDown">My Thoughts</h1>
        <p class=" animate__animated animate__fadeInUp">Public journal to explore my thoughts, writing about things I am passionate about.</p>
      </div>

      <div class="blog-container animate__animated animate__fadeInUp">
        <Post href='posts/competence-as-a-virtue' title='Competence as a virtue' date='Jan 21st, 2026' img='/blog/infinite_vagabond.png'/>
        <Post href='posts/in-pursuit-of-depth' title='In pursuit of depth' date='Jan 3rd, 2025' img='/blog/astro.jpg'/>
      </div>
  </div>
</Layout>

<style>
	.body-container {
    color: var(--body);
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    max-width: 650px;
    width: 100%;
  }
  .blog-about{
    margin-bottom: 20px;
  }
  
  h1 {
    font-family: var(--header-font);
    font-size: 2.5rem;
    margin-bottom: 28px;
  }


  p {
    font-size: 1.2rem;
    line-height: 1.75em;
  }

  .blog-container{
    margin-bottom: 24px;
  }

  @media(max-width: 673px){
    .blog-container{
      margin-left: 10px;
      margin-right: 10px;
    } 
  }


  
  @media(max-width: 490px){
    h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }
  }
</style>
