--- 
import Post from '../components/Post.astro';
import Navigation from '../components/Navigation.astro';
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';

---
<Layout>
  <Navigation />
  <div class="body-container">
      <div class="blog-about">
        <h1 class=" animate__animated animate__fadeInDown">My Thoughts</h1>
        <p class=" animate__animated animate__fadeInUp"> I will be writing about all sorts of things on this page, ranging from programming and technology all the way to literature.</p> <br>
        <p class=" animate__animated animate__fadeInUp">This will serve as journal for me to explore my interests in writing about everything and anything.</p>
      </div>

      <div class="blog-container animate__animated animate__fadeInUp">
        <Post href='posts/blog-1' title='hello world' date='Apr 12th, 2024'/>
      </div>
  </div>
</Layout>

<style>
	.body-container {
    color: var(--body);
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    max-width: 650px;
    width: 100%;
  }
  .blog-about{
    margin-bottom: 20px;
  }
  h1 {
    font-family: var(--header-font);
    font-size: 1.9rem;
    margin-bottom: 28px;
  }

  p {
    line-height: 1.75em;
  }


  .blog-container{
    margin-bottom: 24px;
  }

  @media(max-width: 673px){
    .blog-container{
      margin-left: 10px;
      margin-right: 10px;
    } 
  }
</style>
