---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Kwame-Homepage">
  <div class="body-container">
    <Navigation />
    <div class="content">
			<div class="content-header-container">
				<h1 class="content-header"><b>Kwame Owusu</b></h1>
				<img src="../public/assets/profile-pic.jpg" alt="Profile Picture" class="profile-img">
			</div>
      <div class="about">
        <p>
          I'm a Software Engineering student @ NTU, <br />
          where I'm honing my skills in various languages and CS theory.
        </p>
        <br class="br-space" />

        <p>
          Passionate about crafting software that's both functional and
          beautiful, while striving to get 1% better every day.
        </p>

        <br class="br-space" />

        <p>
          You can find on <a
            href="https://www.linkedin.com/in/alfredow23/"
            class="link"
            target="_blank">Linkedin</a
          > or at <a
            href="mailto:alfredowusu595@gmail.com"
            class="link"
            target="_blank">alfredowusu595@gmail.com</a
          >
        </p>
        <div class="section">
          <div class="sub-heading">What I love</div>
          <p>
            I have also cultivated a passion for literature and manga, with <a
              href=""
              class="link"
            >
              <i>No longer human</i></a
            >
            <br />
            by Osamu Dazai and <a href="" class="link"><i>Vagabond</i></a> by Takehiko
            Inoue as my favorites.
          </p>
        </div>

        <div class="section">
          <div class="sub-heading">Projects</div>
          <div id="projects-grid">
            <div class="project-grid-item">
              <a
                href="https://github.com/kwame-Owusu/Pomodoro"
                class="title"
                target="_blank"
              >
                <svg
                  class="arrow"
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  fill="white"
                >
                  <polygon
                    points="7 7 15.586 7 5.293 17.293 6.707 18.707 17 8.414 17 17 19 17 19 5 7 5 7 7"
                  ></polygon>
                </svg>
                Pomodoro Timer
              </a>
              <div class="description">
                A pomodoro timer created in python and CTK
              </div>
            </div>

            <div class="project-grid-item">
              <a
                href="https://github.com/kwame-Owusu/study-tracker"
                class="title"
                target="_blank"
              >
                <svg
                  class="arrow"
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  fill="white"
                >
                  <polygon
                    points="7 7 15.586 7 5.293 17.293 6.707 18.707 17 8.414 17 17 19 17 19 5 7 5 7 7"
                  ></polygon>
                </svg>
                Study Tracker CLI
              </a>
              <div class="description">
                A CLI tool to help me track my studies
              </div>
            </div>

            <div class="project-grid-item">
              <a
                href="https://github.com/kwame-Owusu/Password-Manager"
                class="title"
                target="_blank"
              >
                <svg
                  class="arrow"
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  fill="white"
                >
                  <polygon
                    points="7 7 15.586 7 5.293 17.293 6.707 18.707 17 8.414 17 17 19 17 19 5 7 5 7 7"
                  ></polygon>
                </svg>
                Password Manager
              </a>
              <div class="description">
                A password manager using CTK and Crypography.Fernet
              </div>
            </div>

            <div class="project-grid-item">
              <a
                href="https://github.com/kwame-Owusu/Draggable-Notes"
                class="title"
                target="_blank"
              >
                <svg
                  class="arrow"
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  fill="white"
                >
                  <polygon
                    points="7 7 15.586 7 5.293 17.293 6.707 18.707 17 8.414 17 17 19 17 19 5 7 5 7 7"
                  ></polygon>
                </svg>
                Draggable Notes
              </a>
              <div class="description">
                Draggable notes made in JS and interact.js
              </div>
            </div>
          </div>

          <div class="section">
            <div class="sub-heading">Experience</div>
            <div class="experience" style="margin-bottom: 60px;">
              <div class="row job">
                <div class="col-left icon">
                  <a href="https://zing.dev/" target="_blank"
                    ><img
                      src="../public/zing-logo.svg"
                      alt="icon"
                      class="icon-img"
                    /></a
                  >
                </div>
                <div class="col-right">
                  <div class="line">
                    <div class="exp-title">Zing.dev</div>
                  </div>
                  <div class="exp-description">
                    Full-Stack Development (incoming)
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
<Footer />

<style>
  body {
    color: var(--body);
  }

  .content-header-container {
  position: relative;
  display: inline-block; /* Ensures the container size fits the text */
}

.content-header {
  font-size: 2rem;
  cursor: pointer;
}

.profile-img {
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translateX(-50%);
  width: 300px; 
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease; 
}

.content-header:hover + .profile-img {
  opacity: 1; /* Show image on hover */
}

  .body-container {
    flex: 1;
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    max-width: 650px;
    width: 100%;
  }

  h1 {
    font-family: var(--header-font);
    font-size: 1.9rem;
    margin-bottom: 28px;
  }

  p {
    line-height: 1.75em;
  }

  .about {
    font-size: 1rem;
  }

  .br-space {
    margin-bottom: 10px;
  }

  a {
    text-decoration: none;
    color: white;
  }

  a.link {
    text-decoration: none;
    color: white;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: var(--grey-700);
    transition: border-bottom-color 0.23s ease-in-out, border-bottom-width 0.23s ease-in-out;
  }

  a.link:hover {
    border-bottom-color: var(--subtext);
		border-bottom-width: 4px;
  }

  .section {
    margin-top: 50px;
  }

  .sub-heading {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.2rem;
    margin-bottom: 24px;
    color: var(--subtext);
  }
  #projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-top: 24px;
  }

  .project-grid-item {
    margin-bottom: 5px;
    border: 1px solid var(--grey-200);
    border-radius: 8px;
    transition: transform 0.3s ease;
  }
  .title {
    font-weight: bold;
    padding: 4px 8px;
    margin-left: -8px;
    opacity: 1;
    color: var(--white);
    transition: opacity 0.23s ease;
  }

  .title:hover {
    opacity: 0.7;
  }

  .title:hover .arrow {
    transform: translateY(-3px);
    cursor: pointer;
  }

  .arrow {
    transition: transform 0.25s ease;
    margin-right: 2px;
    vertical-align: middle;
  }

  .description {
    margin-top: 8px;
    color: var(--subtext);
  }

  .experience {
    display: flex;
    flex-direction: column;
    line-height: 1em;
    row-gap: 2em;
  }

  .experience .row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .experience .icon {
    align-self: flex-start;
  }

  .icon-img {
    background-color: rgba(255, 255, 255, 0.2);
    height: 40px;
    width: 40px;
    border-radius: 8px;
    margin-right: 16px;
    padding: 10px;
    transition: background-color 0.2s ease-in-out;
  }

  .icon-img:hover {
    background-color: rgba(255, 255, 255, 0.35);
  }

  .exp-title {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .exp-description {
    line-height: 1.5em;
    color: var(--subtext);
  }
</style>
