--- 
import Navigation from '../components/Navigation.astro'
import Layout from '../layouts/Layout.astro'
import Device from '../components/Device.astro'
import { devices } from '../data/devices'
---
<Layout>
  <Navigation />
  <div class="body-container">

    <div class="user-about">
        <h1 class=" animate__animated animate__fadeInDown">Tech I use</h1>
        <p class="animate__animated animate__fadeInUp">Hardware I use on a daily basis.</p> <br>
    </div>
    <div class="devices-container animate__animated animate__fadeInUp">
      {devices.map((device) => (
        <Device
          href={device.href}
          name={device.name}
          description={device.description}
        />
      ))}
    </div>
  </div>
</Layout>



<style>
.body-container {
    color: var(--body);
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    max-width: 650px;
    width: 100%;
  }

  .user-about{
    margin-bottom: 50px;
  }

  
  h1 {
    font-family: var(--header-font);
    font-size: 2.5rem;
    margin-bottom: 28px;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.75em;
  }

  .devices-container{
    margin-bottom: 24px;
  }

  @media(max-width: 673px){
    .devices-container{
      margin-left: 10px;
      margin-right: 10px;
    } 
  }


  @media(max-width: 490px){
    h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }
  }

</style>

