--- 
import Footer from '../components/Footer.astro'
import Navigation from '../components/Navigation.astro'
import Layout from '../layouts/Layout.astro'
import Device from '../components/Device.astro'
---
<Layout>
  <Navigation />
  <div class="body-container">

    <div class="user-about">
        <h1 class=" animate__animated animate__fadeInDown">Tech I use</h1>
        <p class="animate__animated animate__fadeInUp">As a developer, I spend countless hours at my desk, so enhancing my workspace for maximum productivity and enjoyment is a priority.</p> <br>
        <p class="animate__animated animate__fadeInUp">Since I started earning, I’ve invested in better tech to support my goals in professional areas, I'll try to keep this list as updated as possible.</p>
    </div>
    <div class="devices-container animate__animated animate__fadeInUp">
      <Device  href='/posts/post-1' name='MateBook 16s(2023)' description='Laptop' />
      <Device  href='/posts/post-7' name='Keychron V1' description='Keyboard' />
      <Device  href='/posts/post-2' name='Nikon D3300' description='Camera' />
      <Device  href='/posts/post-4' name='LyxPro HAS-10' description='Headset' />
      <Device  href='/posts/post-3' name='Lamzu Maya' description='Mouse' />
      <Device  href='/posts/post-5' name='YOTTO Microphone' description='Mic' />
      <Device  href='/posts/post-6' name='Work Station' description='PC' />
    </div>
  </div>

  <Footer />
</Layout>



<style>
.body-container {
    color: var(--body);
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    max-width: 650px;
    width: 100%;
  }

  .user-about{
    margin-bottom: 50px;
  }

  
  h1 {
    font-family: var(--header-font);
    font-size: 1.9rem;
    margin-bottom: 28px;
  }

  p {
    line-height: 1.75em;
  }

  .devices-container{
    margin-bottom: 24px;
  }

  @media(max-width: 673px){
    .devices-container{
      margin-left: 10px;
      margin-right: 10px;
    } 
  }

</style>

