--- 
import Navigation from '../components/Navigation.astro'
import UsesLayout from '../layouts/UsesLayout.astro';
import Device from '../components/Device.astro'
import Footer from '../components/Footer.jsx';

---
<UsesLayout title='Uses-Page'>
  <Navigation />
  <main>
    <section class="hero">
      <h1>Welcome to a curated list of tech I use</h1>
    </section>

    <section class="hero-description">
      <p>
        As someone immersed in both development and gaming, I find myself spending countless hours at my desk each day. In response, I've made it a priority to enhance my workspace continually, aiming to maximize my productivity. 
        Since I began earning money, I've been investing in better technology that aligns with my goals in development and gaming.
        Take a peek at the tech I rely on daily.
      </p>
      <hr class="hero-separator">
    

    </section>

    <section class="device-items">
      <div class="container">
        <div>
            <Device 
              name='MateBook 16s(2023)'
              device='Laptop'
              href='/posts/post-1''
              image='posts/matebook_1.jpg'
            />
        </div>
          
        <div>
            <Device 
              name='Nikon D3300'
              device='Camera'
              href='/posts/post-2'
              image='posts/camera_2.jpg'
            />
        </div>
         <div>
          <Device 
            name='Lamzu Maya'
            device='Mouse'
            href='/posts/post-3'
            image='posts/maya_1.jpg'
          />
      
      </div>
            
      <div>
        <Device 
          name='LyxPro HAS-10'
          device='Headset'
          href='posts/post-4'
          image='posts/headset_3.jpg'
        />
    </div> 

    <div>
      <Device 
        name='YOTTO Microphone'
        device='Microphone'
        href='posts/post-5'
        image='posts/yotto_1.jpg'
      />
  </div>

  <div>
    <Device 
      name='Work Station'
      device='PC'
      href='posts/post-6'
      image='posts/pc_3.jpg'
    />
  </div>
  
  <div>
    <Device 
      name='Keychron V1'
      device='Keyboard'
      href='posts/post-7'
      image='posts/key_1.jpg'
    />
  </div>

      </div>

        
    
 
    
    </section>
 
  </main>

  <Footer />
</UsesLayout>

<style>


	main {
    font-size: 1rem;
		margin: 0;
    padding: 0;
		color: white;
		line-height: 1.7rem;
	}
  .hero {
  background-image: url('/assets/uses-hero.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  height: 60vh;
  display: flex; 
  justify-content: center;
  align-items: center; 
}
.hero-description{
  overflow-wrap: break-word;
  margin: auto;
	width: 900px;
	max-width: calc(100% - 2rem);
  margin-top: 25px;
  padding-left: 1rem;
  padding-right: 1rem;
}
.hero-description p{
 text-indent: 1rem;
}
.hero-separator{
  color: white;
  margin-top: 15px;
}
.device-items{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.75rem;
}
.container {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2rem;
}


@media (max-width: 770px){
  .container{
    grid-template-columns: repeat(1, minmax(0, 1fr))
  }
  
}


</style>

