---
interface Props {
	name: string;
	description: string;
	href: string;

}

const { href, name, description} = Astro.props;

---

<div class="uses-container">
  <div class="device-item">
    <a href={href}><h3>{name}</h3></a>
    <p>{description}</p>
  </div>
</div>



<style>

.uses-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
  

  }
  .uses-container p{
    color: var(--subtext);
  }

 .device-item{
  opacity: 0.65;
  padding: 16px 0;
  justify-content: space-between;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--highlight);
  gap: 24px;
  transition: opacity 0.25s ease-in-out;
 }
 
  .device-item:hover{
    opacity: 1;
  }
  

</style>