<nav id="navbar">
    <div id="tab-highlight"></div>
    <a href="/" class="nav-item">Home</a>
    <a href="/projects" class="nav-item">Projects</a>
    <a href="/uses" class="nav-item">Uses</a>
    <a href="/blog" class="nav-item">Thoughts</a>
</nav>

<script is:inline>
    const wrapper = document.getElementById('navbar');
    
    document.querySelectorAll('.nav-item').forEach(item => {
      item.addEventListener('mouseover', (e) => {
        const wrapperBox = wrapper.getBoundingClientRect();
        const itemBox = e.target.getBoundingClientRect();
        
        const highlight = document.getElementById('tab-highlight');
        highlight.style.width = `${itemBox.width}px`;
        highlight.style.height = `${itemBox.height}px`;
        highlight.style.left = `${itemBox.left - wrapperBox.left}px`;
        highlight.style.opacity = 1;
      });

      item.addEventListener('mouseleave', (e) => {
        document.getElementById('tab-highlight').style.opacity = 0;
      });
    });
</script>


<style>

#navbar {
    text-align: center;
    position: relative;
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 80px 0;
  }

.nav-item {
    font-family: var(--header-font);
    font-size: 14px;
    padding: 8px 16px;
    text-decoration: none;
    color: var(--subtext);
    transition: color 0.2s ease-in-out;
}
.nav-item:hover{
    color: var(--white);
}

#tab-highlight{
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    opacity: 0;
    transition: all 0.25s;
    pointer-events: none;
}
</style>
