---
interface Props {
    title: string;
    date: string;
    href: string;
}
const { href, title, date} = Astro.props;
---

<div class="post-container">
  <div class="post-item">
    <a href={href}><p>{title}</p></a>
    <span>{date}</span>
  </div>
</div>




<style>
  
.post-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
  

  }
  .post-container time{
    color: var(--subtext);
  }

 .post-item{
  opacity: 0.65;
  padding: 16px 0;
  justify-content: space-between;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--highlight);
  gap: 24px;
  transition: opacity 0.25s ease-in-out;
 }
 
  .post-item:hover{
    opacity: 1;
  }

  .post-item p{
    font-size: 1.2rem;
  }
  
</style>