---
import Navigation from '../components/Navigation.astro';
import Content from '../components/Content.astro';
import Footer from '../components/Footer.astro';
import BaseHead from '../components/BaseHead.astro';
import	"../styles/lora.css"

export interface Props {
	content: {
		title: string;
		Hero?: string;
		description: string;
		
		
	}

}

const {
	content : {title, Hero, description, } 
} =  Astro.props
---

<!doctype html>
<html lang="en">
	<BaseHead/>
	<Navigation />
	<body>
		
	
	<main>

		<Content className='content'>
			<div class="hero-container">
				{ Hero && ( <img src={Hero}, alt="device-image" width="760" height="360" class="hero-img" decoding="async"  />)}
			</div>
			<h1 class="hero-title">{title}</h1>
			<div>{description}</div>
			<hr>
			<div class="main-body">
			<slot/>
			</div>
		</Content>

		
	</main>
	<Footer/>
	
</body>
</html>


<style is:global>
:root {
	--header-font: Lora-Bold;
	--body-font: "Geist", serif;
	--white: white;
  --body: #e5e5e5;
  --subtext: #a0a0a0;
  --grey-600: #707070;
  --grey-700: #4d4d4d;
  --highlight: #252525;
  --bg-alt: #1c1c1c;
  --bg: #1A1A19;
  --black: black;
	}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
	color: var(--body);
	font-family: var(--body-font);
	background-color: var(--bg);
	text-rendering: optimizeLegibility;
  font-kerning: normal;
	line-height: 1.75em;

}
main{
	margin-bottom: 24px;
}
	.main-body{
		font-size: 1rem;
		padding-left: 8px;
		padding-right: 8px;
		
		margin-left: auto;
		margin-right: auto;

		max-width: 50rem;
		line-height: 1.75em;
		overflow-wrap: break-word;
	}

	.main-body img{
		margin-top: 10px;
		margin-bottom:10px;
		opacity: 0.6;
		border: 1px solid #333;
	}

	h1{
		font-family: var(--header-font);
	}

	body{
		margin: 0;
		overflow-wrap: break-word;
	}

	.content{
		padding-top: 1.5rem
	}
	.hero-container{
		margin-bottom: 2rem;
	}
	.hero-img{
		opacity: 0.6;
		border: 1px solid #333;
  	border-radius: 0.5rem;
		height: 450px;
		width: 720px;
		object-fit: cover;
	}
	.hero-img{
		margin-top: 30px;
	}
	.hero-title{
		font-size: 1.875rem;
		line-height: 2.25rem;
		margin-top: 0.25rem;
		margin-bottom: 0.25rem;
	}

	hr{
		margin-top: 1rem;
		margin-bottom: 1.75rem;
		border-color: var(--grey-600);
	}

a{
	text-decoration: none;
}
a:visited{
	color: var(--body);
	text-decoration: none;
}

.main-body a{
    text-decoration: none;
    color: white;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: var(--grey-700);
    transition: border-bottom-color 0.23s ease-in-out, border-bottom-width 0.23s ease-in-out;
  }

 .main-body a:hover {
    border-bottom-color: var(--subtext);
		border-bottom-width: 2.5px;
  }
	
@media (max-width: 773px) {

	.hero-img{
		width: 100%;
		height: auto;
	}
}


</style>
