---
import Navigation from '../components/Navigation.astro';
import Content from '../components/Content.astro';
import Footer from '../components/Footer.astro';
import BaseHead from '../components/BaseHead.astro';

export interface Props {
	content: {
		title: string;
		Hero?: string;
		description: string;
		
		
	}

}

const {
	content : {title, Hero, description, } 
} =  Astro.props
---

<!doctype html>
<html lang="en">
	<BaseHead/>
	<Navigation />
	<body>
		
	
	<main>

		<Content className='content'>
			<div class="hero-container">
				{ Hero && ( <img src={Hero}, alt="device-image" width="760" height="360" class="hero-img" decoding="async"  />)}
			</div>
			<h1 class="hero-title">{title}</h1>
			<div>{description}</div>
			<hr>
			<div class="main-body">
			<slot/>

			</div>


		</Content>

		
	</main>
	<Footer/>
</body>

</html>


<style is:global>


:root {
		--font-headers: 'Work Sans', sans-serif;
		--font-paragraphs: 'Work Sans',sans-serif;
	

	}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
	html {
		font-family: var(--font-paragraphs);
    color: white;
		background: #191921; 
	}
	.main-body{
		font-size: 1rem;
		padding-left: 8px;
		padding-right: 8px;
		
		margin-left: auto;
		margin-right: auto;

		max-width: 50rem;
		line-height: 1.75rem;
		overflow-wrap: break-word;
	}

	h1{
		font-family: var(--font-headers);
	}

	body{
		margin: 0;
		overflow-wrap: break-word;
	}

	.content{
		padding-top: 1.5rem
	}
	.hero-container{
		margin-bottom: 2rem;
	}
	.hero-img{
		border: 1px solid rgba(203,213,225, 0.5);
  	border-radius: 0.5rem;
		height: 450px;
		width: 720px;
		object-fit: cover;
	}
	.hero-img{
		margin-top: 30px;
	}
	.hero-title{
		font-size: 1.875rem;
		line-height: 2.25rem;
		margin-top: 0.25rem;
		margin-bottom: 0.25rem;
	}

	hr{
		margin-top: 1rem;
		margin-bottom: 1.75rem;
		border-color: rgba(203,213,225, 0.5);
	}
	a{
		font-style: italic;
	}

	a{
		text-decoration: none;
  	color: white;
  	position: relative;
	}
	a::after{
		content: '';
		position: absolute;
		bottom: -2px;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: transparent;
		transition: background-color 0.3s ease-in-out;
	}

	a:hover::after {
  background-color: white;
}

@media (max-width: 773px) {

	.hero-img{
		width: 100%;
		height: auto;
	}
}


</style>
