---
import BaseHead from "../components/BaseHead.astro";
import {SITE_TITLE, SITE_DESCRIPTION} from "../conts"
---

<!doctype html>
<html lang="en">
	<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	<body>
		<slot />
	</body>
</html>


<style is:global>
:root {
		--font-headers: 'Work Sans',sans-serif;
		--font-paragraphs: 'Work Sans', sans-serif;
	

	}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
		font-family: var(--font-paragraphs);
		/* background: #121212; */
		background-image: url("assets/noisy_1.svg");
	}
h1{
		font-family: var(--font-headers)
	}
</style>
