---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/icon-2.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
		<link

    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  	/>
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>

@import url('../styles/satoshi.css');
:root {
		--font-headers: 'Satoshi-Bold';
		--font-paragraphs: 'Satoshi-Regular';
	

	}

	* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
	html {
		font-family: var(--font-paragraphs);
		/* background: #121212; */
		background-image: url("assets/noisy_1.svg");
	}
	h1{
		font-family: var(--font-headers)
	}
</style>
