---
import BaseHead from "../components/BaseHead.astro"
---

<!doctype html>
<html lang="en">
	<BaseHead />
	<body>
		<slot />
	</body>
</html>
<style is:global>
:root {
		--font-headers: 'Work Sans', sans-serif;
		--font-paragraphs: 'Work Sans', sans-serif;
	

	}

	* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
	html {
		font-family: var(--font-paragraphs);
		background-image: url("assets/noisy_1.svg");
	}
	h1{
		font-family: var(--font-headers)
	}
</style>
